:root {
    --green: rgb(91, 206, 170);
    --light-green: rgb(235, 250, 246);
    --grey: rgb(178, 171, 171);
    --background-green: rgb(237, 246, 222);
    --color-green: rgb(163, 221, 171);
    --background-red: rgb(253, 241, 240);
    --color-red: rgb(240, 111, 106);
    --range-purple: rgb(99, 103, 220);
    --range-powderblue: rgb(84, 197, 235);
    --range-yellow: rgb(251, 182, 73);
    --range-red: rgb(240, 89, 101);
    --light-color-red: rgb(243, 137, 133);
    --background-grey: rgb(250, 250, 250);
    --color-grey: rgb(148, 148, 148);
    --light-color-grey: rgb(224, 224, 224);
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.red {
    color: var(--color-red);
}
.green {
    color: var(--green);
}
.green-div {
    padding: 2px 7px;
    border-radius: 50px;
}
.red-div {
    padding: 2px 7px;
    border-radius: 50px;
    font-weight: 600;
    background-color: var(--background-red);
    color: var(--color-red);
    font-size: 12px;
}
.green-div {
    background-color: var(--background-green);
    color: var(--green);
}
.purple {
    color: var(--range-purple);
}
.light-grey {
    color: var(--light-color-grey);
}
.grey, th, .grey-600 {
    color: var(--color-grey);
}
.grey-600, .green-div {
    font-weight: 600;
    font-size: 12px;
}
.small-img {
    font-size: 10px;
}
body, .all-contain {
    width: 100vw;
    height: auto;
    display: flex;
    background-color: var(--background-grey);
}
hr {
    border: 1px solid var(--light-color-grey);
    border-radius: 10px;
    /* color: var(--color-grey); */
    margin: 20px 0;
}
.head-1, .head-2, .head-3 {
    font-weight: 600;
}
.head-1 {
    font-size: 20px;
}
.head-2 {
    font-size: 16px;
}
.head-3 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
.weekly {
    font-size: 12px;
}
.dflex {
    display: flex;
}
.normal-padding {
    padding: 15px 20px;
}
.bounded {
    border: 1px solid var(--color-grey);
    /* padding: 2px 4px 1px; */
    border-radius: 50%;
}
.dflex-gap, .main-bottom {
    display: flex;
    gap: 15px;
}
.dflex-gap-center {
    display: flex;
    align-items: center;
    gap: 15px;
}
.dflex-between {
    display: flex;
    justify-content: space-between;
}
.dflex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dflex-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.dflex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dflex-column-between-gap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.inline {
    display: inline;
}
.reduced {
    width: 2rem;
}
.graph-reduced {
    width: 6rem;
}
.block {
    display: block;
}
.mb-2_ {
    margin-bottom: 20px;
}
.mb-0_ {
    margin-bottom: 0;
}
nav.side-menu {
    width: 5%;
}
main.dashboard-section {
    width: 95%;
}
.side-menu, main.dashboard-section {
    padding: 10px;
}
.w-100 {
    width: 100%;
}
.dark-light-mode {
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.weekly {
    border-radius: 50px;
    border: 1px solid var(--color-grey);
    padding: 5px 10px;
}
.mode-active {
    border: none;
    background-color: var(--green);
    border-radius: 50%;
    padding: 8px;
}
.main-right-div, .dashboard-head-div {
    flex: 3;
}
.date-div, .main-left-div {
    flex: 2;
}
.main-right-div {
    gap: 15px;
}
.main-top {
    width: 100%;
}
.top-right-div, .bottom-right-div, .bottom-left-div {
    border: 1px solid var(--light-color-grey);
    border-radius: 15px;
}
.chart-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.see-all {
    font-weight: 500;
}
.see-all, .green-color {
    color: var(--green); /* to be modified to var */
}
.date-end-div {
    padding: 5px;
    border: 1px solid var(--light-color-grey);
    border-radius: 50px;
}
.orders-table, .chart {
    background-color: #FFF;
}
.bottom-left-div {
    background-color: #fff;
}
.top-right-div, .bottom-right-div {
    border-radius: 15px;
    background-color: #FFF;
    padding: 20px
}
.analytics-box {
    flex: 1;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 15px;
}
.analytics {
    background-color: lemon;
}
img:hover {
    cursor: pointer;
}
table {
    width: 100%;
    padding: 10px;
}
th, td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
}
tr,  thead tr {
    border-bottom: 1px solid var(--background-grey);
}
tr:last-of-type {
    border-bottom: none;
}
.platform-amount {
    color: var(--color-grey);
    font-weight: 500;
    font-size: 15px;
}
input.book-range::-webkit-slider-thumb {
    background-color: var(--range-purple);
}
#artisan-range::-ms-thumb {
    background-color: var(--range-powderblue);
}
#toy-range::-moz-range-thumb {
    background-color: var(--range-yellow);
}
#xstore-range::-webkit-slider-runnable-track {
    color: var(--range-red);
}
/* img.nav-icons {
    width: 80%;
} */

.search-div {
    position: relative;
    width: 300px;
    color: var(--color-grey);
    background-color: #fff;
    /* border: 1px solid var(--light-color-grey); */
    border:none;
}
#main-search {
    padding: 10px 4px 10px 40px;
    border: 1px solid var(--light-color-grey);;
    width: 100%;
    border-radius: 50px;
    color: var(--color-grey);
}
#main-search:focus {
    border: none;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.vy {
    vertical-align: middle;
}
.total-order-text, .email {
    color: var(--color-grey)
}
.circular {
    border: 1px solid var(--light-color-grey);
    border-radius: 50%;
    padding: 5px;
}
.circular:hover, span.material-symbols-outlined {
    cursor: hover;
}

@media (max-width: 1199px) {
    .side-menu, .main-top {
        display: none;
    }
    .main-bottom {
        display: flex;
        flex-direction: column;
        gap: 15px
    }
    main.dashboard-section {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        padding: 50px 30px;
    }
}

@media (min-width: 599px) and (max-width: 767px) {
    body {
        padding: 25px 10px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 25px 8px;
    }
}