:root {
    --green: rgb(90, 203, 165);
    --light-green: rgb(235, 250, 246);
    --grey: rgb(178, 171, 171);
    --background-green: rgb(237, 246, 222);
    --color-green: rgb(163, 221, 171);
    --background-red: rgb(253, 241, 240);
    --color-red: rgb(240, 111, 106);
    --range-purple: rgb(99, 103, 220);
    --range-powderblue: rgb(84, 197, 235);
    --range-yellow: rgb(251, 182, 73);
    --range-red: rgb(240, 89, 101);
    --light-color-red: rgb(243, 137, 133);
    --background-grey: rgb(250, 250, 250);
    --color-grey: rgb(201, 200, 206);
    --light-color-grey: rgb(224, 224, 224);
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
body, .all-contain {
    width: 100vw;
    height: auto;
    display: flex;
    background-color: var(--background-grey);
}
.head-1 {
    font-size: 2rem;
    font-weight: 500;
}
.second-header {
    font-size: 1rem;
    font-weight: 500;
}
.dflex {
    display: flex;
}
.normal-padding {
    padding: 15px 20px;
}
.dflex-gap {
    display: flex;
    gap: 15px;
}
.dflex-between {
    display: flex;
    justify-content: space-between;
}
.dflex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dflex-column-between-gap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.mb-2_ {
    margin-bottom: 20px;
}
nav.side-menu {
    width: 5%;
}
main.dashboard-section {
    width: 95%;
}
.side-menu, main.dashboard-section {
    padding: 10px;
}
/* .main-bottom {
    display
} */
/* .outline {
    border: 1px solid red;
} */
.w-100 {
    width: 100%;
}
.nav-icons {
    /* width: 70%; */
}
.dark-light-mode {
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mode {
    /* width: .9rem; */
}
.mode-active {
    border: none;
    background-color: var(--green);
    border-radius: 50%;
    padding: 8px;
}
.main-right-div, .main-left-div {
    flex: 1;
}
.main-right-div {
    gap: 15px;
}
.top-right-div, .bottom-right-div, .bottom-left-div {
    border: 1px solid grey;
    border-radius: 15px;
}
.chart-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.see-all, .green-color {
    color: green; /* to be modified to var */
}
.orders-table, .chart {
    background-color: #FFF;
    height: 400px;
}
.bottom-left-div {
    background-color: #fff;
}
.analytics-box, .top-right-div, .bottom-right-div {
    border-radius: 15px;
    background-color: #FFF;
    padding: 10px
}
.analytics {
    background-color: lemon;
}
img:hover {
    cursor: pointer;
}
